In [2]:
import pandas as pd
import os
from pathlib import Path
from constants import DATA_DIR
import zipfile
import requests

In [4]:
ZIP_FILE_URL = "https://www.kaggle.com/api/v1/datasets/download/nathanlauga/nba-games"
# DOWNLOAD_DIR = "./tmp/airflow_downloads"
os.makedirs(DATA_DIR, exist_ok=True)
zip_file_path = os.path.join(DATA_DIR, "downloaded_file.zip")

In [5]:
response = requests.get(ZIP_FILE_URL, stream=True)
if response.status_code == 200:
    with open(zip_file_path, "wb") as f:
        for chunk in response.iter_content(chunk_size=1024):
            f.write(chunk)
    print(f"ZIP file downloaded to {zip_file_path}")
    # kwargs['ti'].xcom_push(key='zip_file_path', value=zip_file_path)
else:
    raise Exception(f"Failed to download file. Status code: {response.status_code}")

ZIP file downloaded to data/downloaded_file.zip

In [6]:
# zip_file_path = kwargs['ti'].xcom_pull(key='zip_file_path', task_ids='download_zip')
extract_dir = os.path.join(DATA_DIR, "extracted_files")
os.makedirs(extract_dir, exist_ok=True)

with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall(extract_dir)
print(f"ZIP file extracted to {extract_dir}")

ZIP file extracted to data/extracted_files

In [6]:
Path(DATA_DIR).mkdir(parents=True, exist_ok=True)

In [9]:
os.system(f"curl -L -o {DATA_DIR}/nba-games.zip https://www.kaggle.com/api/v1/datasets/download/nathanlauga/nba-games")

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100 21.2M  100 21.2M    0     0  5319k      0  0:00:04  0:00:04 --:--:-- 9230k

0

In [ ]:
os.system(f"unzip {DATA_DIR}/nba-games.zip -d {DATA_DIR}")

Archive:  data/nba-games.zip
  inflating: data/games.csv
  inflating: data/games_details.csv
  inflating: data/players.csv
  inflating: data/ranking.csv
  inflating: data/teams.csv

0

In [12]:
os.system(f"rm {DATA_DIR}/nba-games.zip")

0

In [14]:
pd.read_csv(f"{DATA_DIR}/players.csv").head()

        PLAYER_NAME     TEAM_ID  PLAYER_ID  SEASON
0     Royce O'Neale  1610612762    1626220    2019
1  Bojan Bogdanovic  1610612762     202711    2019
2       Rudy Gobert  1610612762     203497    2019
3  Donovan Mitchell  1610612762    1628378    2019
4       Mike Conley  1610612762     201144    2019

In [15]:
pd.read_csv(f"{DATA_DIR}/teams.csv").head()

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,0,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,0,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,0,1610612741,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,0,1610612742,1980,2019,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends

In [14]:
games = pd.read_csv(f"{DATA_DIR}/games.csv")

In [15]:
games.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
1,2022-12-22,22200478,Final,1610612762,1610612764,2022,1610612762,120.0,0.488,0.952,...,16.0,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1
2,2022-12-21,22200466,Final,1610612739,1610612749,2022,1610612739,114.0,0.482,0.786,...,22.0,37.0,1610612749,106.0,0.470,0.682,0.433,20.0,46.0,1
3,2022-12-21,22200467,Final,1610612755,1610612765,2022,1610612755,113.0,0.441,0.909,...,27.0,49.0,1610612765,93.0,0.392,0.735,0.261,15.0,46.0,1
4,2022-12-21,22200468,Final,1610612737,1610612741,2022,1610612737,108.0,0.429,1.000,...,22.0,47.0,1610612741,110.0,0.500,0.773,0.292,20.0,47.0,0

In [16]:
games.isnull().sum()

GAME_DATE_EST        0
GAME_ID              0
GAME_STATUS_TEXT     0
HOME_TEAM_ID         0
VISITOR_TEAM_ID      0
SEASON               0
TEAM_ID_home         0
PTS_home            99
FG_PCT_home         99
FT_PCT_home         99
FG3_PCT_home        99
AST_home            99
REB_home            99
TEAM_ID_away         0
PTS_away            99
FG_PCT_away         99
FT_PCT_away         99
FG3_PCT_away        99
AST_away            99
REB_away            99
HOME_TEAM_WINS       0
dtype: int64

In [17]:
rows_with_nulls = games[games.isnull().any(axis=1)]

# Print the rows with null values
print("Rows with null values:")
print(rows_with_nulls)

Rows with null values:
      GAME_DATE_EST   GAME_ID GAME_STATUS_TEXT  HOME_TEAM_ID  VISITOR_TEAM_ID  \
19175    2003-10-24  10300116            Final    1610612753       1610612762
19176    2003-10-24  10300108            Final    1610612737       1610612764
19177    2003-10-24  10300109            Final    1610612738       1610612751
19178    2003-10-24  10300113            Final    1610612759       1610612745
19179    2003-10-24  10300112            Final    1610612749       1610612765
...             ...       ...              ...           ...              ...
19269    2003-10-09  10300019            Final    1610612743       1610612756
19270    2003-10-09  10300022            Final    1610612757       1610612758
19271    2003-10-08  10300013            Final    1610612759       1610612763
19278    2003-10-08  10300015            Final    1610612747       1610612744
19279    2003-10-07  10300006            Final    1610612747       1610612744

       SEASON  TEAM_ID_home  PTS_home  FG_PCT_home  FT_PCT_home  ...  \
19175    2003    1610612753       NaN          NaN          NaN  ...
19176    2003    1610612737       NaN          NaN          NaN  ...
19177    2003    1610612738       NaN          NaN          NaN  ...
19178    2003    1610612759       NaN          NaN          NaN  ...
19179    2003    1610612749       NaN          NaN          NaN  ...
...       ...           ...       ...          ...          ...  ...
19269    2003    1610612743       NaN          NaN          NaN  ...
19270    2003    1610612757       NaN          NaN          NaN  ...
19271    2003    1610612759       NaN          NaN          NaN  ...
19278    2003    1610612747       NaN          NaN          NaN  ...
19279    2003    1610612747       NaN          NaN          NaN  ...

       AST_home  REB_home  TEAM_ID_away  PTS_away  FG_PCT_away  FT_PCT_away  \
19175       NaN       NaN    1610612762       NaN          NaN          NaN
19176       NaN       NaN    1610612764       NaN          NaN          NaN
19177       NaN       NaN    1610612751       NaN          NaN          NaN
19178       NaN       NaN    1610612745       NaN          NaN          NaN
19179       NaN       NaN    1610612765       NaN          NaN          NaN
...         ...       ...           ...       ...          ...          ...
19269       NaN       NaN    1610612756       NaN          NaN          NaN
19270       NaN       NaN    1610612758       NaN          NaN          NaN
19271       NaN       NaN    1610612763       NaN          NaN          NaN
19278       NaN       NaN    1610612744       NaN          NaN          NaN
19279       NaN       NaN    1610612744       NaN          NaN          NaN

       FG3_PCT_away  AST_away  REB_away  HOME_TEAM_WINS
19175           NaN       NaN       NaN               0
19176           NaN       NaN       NaN               0
19177           NaN       NaN       NaN               0
19178           NaN       NaN       NaN               0
19179           NaN       NaN       NaN               0
...             ...       ...       ...             ...
19269           NaN       NaN       NaN               0
19270           NaN       NaN       NaN               0
19271           NaN       NaN       NaN               0
19278           NaN       NaN       NaN               0
19279           NaN       NaN       NaN               0

[99 rows x 21 columns]

In [11]:
numeric_columns = ["PTS_home", "FG_PCT_home", "FT_PCT_home", "FG3_PCT_home", "AST_home", "REB_home", "PTS_away", "FG_PCT_away", "FT_PCT_away", "FG3_PCT_away", "AST_away", "REB_away"]
games[numeric_columns] = games[numeric_columns].fillna(0)  # Replace NaNs with 0

In [12]:
from google.cloud import bigquery

# Construct a BigQuery client object.
client = bigquery.Client(project="")

# TODO(developer): Set table_id to the ID of the table to create.
table_id = ""
job_config = bigquery.LoadJobConfig(
    # schema=[
    #     bigquery.SchemaField("GAME_DATE_EST", "DATE"),
    #     bigquery.SchemaField("GAME_ID", "INTEGER"),
    #     bigquery.SchemaField("GAME_STATUS_TEXT", "STRING"),
    #     bigquery.SchemaField("HOME_TEAM_ID", "INTEGER"),
    #     bigquery.SchemaField("VISITOR_TEAM_ID", "INTEGER"),
    #     bigquery.SchemaField("SEASON", "INTEGER"),
    #     bigquery.SchemaField("TEAM_ID_home", "INTEGER"),
    #     bigquery.SchemaField("PTS_home", "FLOAT"),
    #     bigquery.SchemaField("FG_PCT_home", "FLOAT"),
    #     bigquery.SchemaField("FT_PCT_home", "FLOAT"),
    #     bigquery.SchemaField("FG3_PCT_home", "FLOAT"),
    #     bigquery.SchemaField("AST_home", "FLOAT"),
    #     bigquery.SchemaField("REB_home", "FLOAT"),
    #     bigquery.SchemaField("TEAM_ID_away", "INTEGER"),
    #     bigquery.SchemaField("PTS_away", "FLOAT"),
    #     bigquery.SchemaField("FG_PCT_away", "FLOAT"),
    #     bigquery.SchemaField("FT_PCT_away", "FLOAT"),
    #     bigquery.SchemaField("FG3_PCT_away", "FLOAT"),
    #     bigquery.SchemaField("AST_away", "FLOAT"),
    #     bigquery.SchemaField("REB_away", "FLOAT"),
    #     bigquery.SchemaField("HOME_TEAM_WINS", "INTEGER")
    # ],
    # skip_leading_rows=1,
    # The source format defaults to CSV, so the line below is optional.
    # source_format=bigquery.SourceFormat.CSV,
    write_disposition="WRITE_TRUNCATE"
)

job = client.load_table_from_dataframe(
    games, table_id, job_config=job_config
)  # Make an API request.
job.result()  # Wait for the job to complete.

table = client.get_table(table_id)  # Make an API request.
print(
    "Loaded {} rows and {} columns to {}".format(
        table.num_rows, len(table.schema), table_id
    )
)

Loaded 26651 rows and 21 columns to onyx-descent-417702.nba_pipeline_dataset.test_games

In [13]:
from google.cloud import bigquery

# Construct a BigQuery client object.
client = bigquery.Client(project="")

# TODO(developer): Set table_id to the ID of the table to create.
table_id = ".nba_pipeline_dataset.test_games"

job_config = bigquery.LoadJobConfig(
    schema=[
        bigquery.SchemaField("GAME_DATE_EST", "DATE"),
        bigquery.SchemaField("GAME_ID", "INTEGER"),
        bigquery.SchemaField("GAME_STATUS_TEXT", "STRING"),
        bigquery.SchemaField("HOME_TEAM_ID", "INTEGER"),
        bigquery.SchemaField("VISITOR_TEAM_ID", "INTEGER"),
        bigquery.SchemaField("SEASON", "INTEGER"),
        bigquery.SchemaField("TEAM_ID_home", "INTEGER"),
        bigquery.SchemaField("PTS_home", "FLOAT"),
        bigquery.SchemaField("FG_PCT_home", "FLOAT"),
        bigquery.SchemaField("FT_PCT_home", "FLOAT"),
        bigquery.SchemaField("FG3_PCT_home", "FLOAT"),
        bigquery.SchemaField("AST_home", "FLOAT"),
        bigquery.SchemaField("REB_home", "FLOAT"),
        bigquery.SchemaField("TEAM_ID_away", "INTEGER"),
        bigquery.SchemaField("PTS_away", "FLOAT"),
        bigquery.SchemaField("FG_PCT_away", "FLOAT"),
        bigquery.SchemaField("FT_PCT_away", "FLOAT"),
        bigquery.SchemaField("FG3_PCT_away", "FLOAT"),
        bigquery.SchemaField("AST_away", "FLOAT"),
        bigquery.SchemaField("REB_away", "FLOAT"),
        bigquery.SchemaField("HOME_TEAM_WINS", "INTEGER")
    ],
    skip_leading_rows=1,
    # The source format defaults to CSV, so the line below is optional.
    source_format=bigquery.SourceFormat.CSV,
    write_disposition="WRITE_TRUNCATE",
    ignore_unknown_values=True
)
uri = 

load_job = client.load_table_from_uri(
    uri, table_id, job_config=job_config
)  # Make an API request.

load_job.result()  # Waits for the job to complete.

destination_table = client.get_table(table_id)  # Make an API request.
print("Loaded {} rows.".format(destination_table.num_rows))

Loaded 26651 rows.